@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #050816;
  color: white;
  font-family: 'Outfit', sans-serif;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image:
    linear-gradient(rgba(255,255,255,0.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.03) 1px, transparent 1px);
  background-size: 50px 50px;
  z-index: -1;
}

section {
  scroll-margin-top: 100px;
}

#root {
  position: relative;
  z-index: 1;
}

canvas {
  position: fixed !important;
}

body::after {
  content: "";
  position: fixed;
  width: 700px;
  height: 700px;
  background: radial-gradient(
    circle,
    rgba(34, 211, 238, 0.12),
    transparent 70%
  );
  top: -200px;
  right: -200px;
  z-index: -1;
  animation: floatGlow 12s ease-in-out infinite;
}

@keyframes floatGlow {
  0% {
    transform: translateY(0px) translateX(0px);
  }

  50% {
    transform: translateY(40px) translateX(-40px);
  }

  100% {
    transform: translateY(0px) translateX(0px);
  }
}

::selection {
  background: rgba(34, 211, 238, 0.3);
  color: white;
}

* {
  transition-property:
    color,
    background-color,
    border-color,
    transform,
    opacity;
}

@keyframes float {

  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-12px);
  }

  100% {
    transform: translateY(0px);
  }

}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

section {
  position: relative;
}

section::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 80%;
  height: 1px;
  background: linear-gradient(
    to right,
    transparent,
    rgba(34, 211, 238, 0.2),
    transparent
  );
  transform: translateX(-50%);
}

button,
a {
  transition: all 0.3s ease;
}

button:hover,
a:hover {
  transform: translateY(-2px);
}

@keyframes floating {

  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }

}

.floating-card {
  animation: floating 4s ease-in-out infinite;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #050816;
}

::-webkit-scrollbar-thumb {
  background: rgba(34, 211, 238, 0.4);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(34, 211, 238, 0.7);
}

@keyframes floatLogo {

  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-25px);
  }

  100% {
    transform: translateY(0px);
  }

}

.animate-floatLogo {
  animation: floatLogo 8s ease-in-out infinite;
}

h2 {
  line-height: 1.2;
}